* {
    box-sizing: border-box; 
}
:root {
            --primary-color: #3b82f6; /* Bleu */
            --secondary-color: #ef4444; /* Rouge pour le danger/temps */
            --background-color: #f3f4f6;
            --card-color: #ffffff;
            --text-color: #1f2937;
            --font-display: 'Permanent Marker', cursive;
            --font-body: 'Inter', sans-serif;
        }